<!-- Courses Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
      <h1 class="mb-5">Popular Exam</h1>
    </div>
    <a routerLink="/add-exam" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">New Exam</a>

    <hr>
    <div class="row g-4 justify-content-center">






      <div  *ngFor="let r of exams" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div   class="course-item bg-light">
          <div class="position-relative overflow-hidden" >
            <img class="img-fluid" src="" alt="">
            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
            </div>
          </div>
          <div class="text-center p-4 pb-0" (click)="gotocourse(r.idExam)">
            <h3 class="mb-0">{{r.title}}</h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small>(123)</small>
            </div>
            <h5 class="mb-4">{{r.description}}</h5>
          </div>
          <div class="d-flex border-top">
            <small class="flex-fill text-center border-end py-2" >
              <a ><i class="fa fa-clock text-primary me-2" style="margin-top: 10px;"> </i></a>{{r.duration}} Mins</small>
            <small class="flex-fill text-center border-end py-2" >
              <a style="color: #343a40;" href="{{r.link}}" ><i class="fa fa-link text-primary me-2" style="margin-top: 10px;"> </i>Link</a></small>

            <small class="flex-fill text-center border-end py-2">
              <button (click)="deleteExam(r.idExam)" class="flex-fill text-center py-2 noselect"><span class="text">Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button></small>

          </div>
        </div>
      </div>






<!--
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="" alt="">
            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
            </div>
          </div>
          <div class="text-center p-4 pb-0">
            <h3 class="mb-0">$149.00</h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small>(123)</small>
            </div>
            <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
          </div>
          <div class="d-flex border-top">
            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small>
            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="" alt="">
            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
            </div>
          </div>
          <div class="text-center p-4 pb-0">
            <h3 class="mb-0">$149.00</h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small>(123)</small>
            </div>
            <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
          </div>
          <div class="d-flex border-top">
            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small>
            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
          </div>
        </div>
      </div> -->




    </div>
  </div>
</div>
<!-- Courses End -->
